<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center d-block d-md-none">
                <div class="social-media">
                    <ul class="social-buttons">
                        <li><a href="https://twitter.com/tl_eng" title="Talk Liberation Twitter" target="_blank"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
                        <li><a href="https://facebook.com/TalkLiberation" title="Talk Liberation Facebook" target="_blank"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a>
                        </li>
                        <li><a href="https://talkliberation.substack.com/?subscribe" title="Talk Liberation Substack" target="_blank"><span class="iconify" data-icon="simple-icons:substack"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <p>
                    <a href="https://panquake.com" target="_blank" title="Panquake"><img src="{{ url_for('static', filename='assets/images/panquake-small.png') }}" alt="Panquake logo" class="small-logo"></a> Brought to you by the team building <a href="https://panquake.com" target="_blank" title="Panquake" class="panquake">Panquake</a>.
                </p>
                <p>
                    &copy; 2022 Talk Liberation CIC Limited. This website is administered by Talk Liberation ehf. in Iceland using sustainable geothermal and hydroelectric energy.
                  	<br>This project is ethical Free and Open-Source Software (FOSS). | <a href="https://github.com/TalkLiberation/wldragnet-search" target="_blank" title="Source Code">Source Code</a> | <a href="{{ url_for('static', filename='weblabels.html') }}" target="blank" data-jslicense="1">LibreJS Licensing</a> | <a href="https://talkliberation.com/privacy-policy" target="_blank">Privacy Policy</a> | Found a bug? <a href="mailto:support@talkliberation.com">Report it</a>.
                </p>
            </div>
        </div>
    </div>
</footer>