<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="https://talkliberation.substack.com/?subscribe" target="_blank" class="logo" title="Talk Liberation Logo">
                    </a>
                    <div class="social-media d-none d-md-block">
                        <ul class="social-buttons">
                            <li class="text-link"><a href="https://wldragnet.com/faq">FAQ</a></li>
                            <li><a href="https://twitter.com/tl_eng" title="Talk Liberation Twitter" target="_blank"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
                            <li><a href="https://facebook.com/TalkLiberation" title="Talk Liberation Facebook" target="_blank"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a></li>
                            <li><a href="https://talkliberation.com/investigates" title="Talk Liberation Substack" target="_blank"><span class="iconify" data-icon="simple-icons:substack"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->