<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Talk Liberation Investigates - WLDragnet Report Search">
<meta name="author" content="Talk Liberation">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="WLDragnet Report Search">
<meta name="twitter:description" content="Talk Liberation Investigates - WLDragnet Report Search">
<meta name="twitter:image:src" content="https://wldragnet.com/static/share-card.jpg">
<!-- Open Graph general (Facebook, WhatsApp, iMessage, Slack, LinkedIn) -->
<meta name="og:title" content="WLDragnet Report Search">
<meta name="og:description" content="Talk Liberation Investigates - WLDragnet Report Search">
<meta name="og:image" content="https://wldragnet.com/static/share-card.jpg">
<meta name="og:url" content="https://wldragnet.com/">
<meta name="og:site_name" content="WLDragnet Report Search">
<meta name="og:type" content="website">

<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

{% include "site/partials/stylesheets.html" %}